h2 {
  background-color: cyan;
  text-align: center;
}

.jumbotron {
  padding-top: 25px;
  padding-bottom: 25px;
  margin-bottom: 25px;
  color: inherit;
  background-color: cyan;
  text-align: center;
}
